<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/scripts/teamsapp.js"></script>
    <title>Microsoft Teams Tab</title>
    <style>
    .container {
      display: flex;
      justify-content: center;
    }

    .column {
      flex: 1;
      margin: 20px;
      padding: 5px;
      position: relative;
      cursor: pointer;
      
     /* background-color: lightgray;*/
    }

    


    
  </style>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div>
      <h1>Hello, Farah</h1>
      <span>
        <p> Humour du jour</p><br><br>
       <!-- <p id="hubName"></p>-->
        <div class="container">
    <div class="column">
     <img src="https://cdn.pixabay.com/photo/2021/05/24/09/15/emoji-6278332_1280.png"  width="100" height="100" alt="Ma image" /> 

    </div>
    <div class="column">
      <img src="https://cdn-icons-png.flaticon.com/512/9489/9489992.png" width="100" height="100" alt="Ma image" />
      
    </div>
    <div class="column">
      <img src="https://cdn.pixabay.com/photo/2020/12/19/02/50/emoji-5843434_640.png" width="100" height="100" alt="Ma image" />
    </div>
  </div>
      </span>
    </div>
    
    <script type="text/javascript">
      // Hide the loading indicator
      microsoftTeams.appInitialization.notifySuccess();
    </script>
  </body>
</html>
