<html lang="en">
  <head>
<!-- <script src="https://statics.teams.cdn.office.net/sdk/v1.11.0/js/MicrosoftTeams.min.js"></script> -->
<script src="https://statics.teams.microsoft.com/sdk/v1.9.1/js/MicrosoftTeams.min.js"></script>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/scripts/teamsapp.js"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    

    <title>Microsoft Teams Tab</title>

    <style>
.container {
    display: flex;
    justify-content: center;
    
  }

  .column {
    flex: 1;
    margin: 20px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    
   /* background-color: lightgray;*/
  }
  .text-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    padding: 10px;
    
  }
  
  .show {
    display: block;
  }

  .containers {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hidden {
    display: none;
  }

  .column-text {
    flex: 1;
   /* margin: 20px;
    padding: 20px;*/
    position: relative;
    cursor: pointer;
    
    /*background-color: lightgray;*/
  }


  .selected-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
}

.selected-image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  /*border: 1px solid #ccc;*/
}

.div2 {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.child {
 /* width: 50px;
  height: 50px;*/
  
  /* Centrer verticalement et horizontalement */
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

    </style>
    
  </head>

  <body>
    
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="div1">
    <div>
      <div class="containers" >
        
        <h1 id="username" style="text-align: center;"></h1>
        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/17315/little-penguin-clipart-md.png" width="82" height="82" alt="Hello, Farah" style="margin-left: 10px;" />

      </div>
      <div style="margin-left: 10px; text-align: center;">
        <h1 style="margin-bottom: 0;">C'est quoi votre humeur aujourd'hui ?</h1>
      </div>
      <span style="text-align: center;">
        
   <div class="container">
      <div class="column" style="margin-top: 0;">
          <h3 style="margin-top: 0; padding-left: 30px;">Bien</h3>
        <img id="content" src="https://cdn.pixabay.com/photo/2021/05/24/09/15/emoji-6278332_1280.png"  width="100" height="100" alt="Ma image" onclick="toggleList(this)" /> 
        <ul class="text-list">
          <li id="content1" onclick="replaceDiv(this)">Très motivé(e)</li>
          <li id="content2" onclick="replaceDiv(this)">Motivé(e)</li>
        </ul>

      </div>
    <div class="column" style="margin-top: 0;">
      <h3 style="margin-top: 0; padding-left: 23px;">Neutre</h3>
      <img id="neutre" src="https://cdn-icons-png.flaticon.com/512/9489/9489992.png" width="110" height="110" alt="Ma image" onclick="toggleList(this)" />
      <ul class="text-list">
        <li id="neutre1" onclick="replaceDiv(this)">Rien à signaler</li>
        <li id="neutre2" onclick="replaceDiv(this)">Occupé(e)</li>
    </ul>
      
    </div>
    <div class="column" style="margin-top: 0;">
      <h3 style="margin-top: 0; padding-left: 17px;">Pas trop</h3>
      <img id="sad" src="https://cdn.pixabay.com/photo/2020/12/19/02/50/emoji-5843434_640.png" width="100" height="100" alt="Ma image" onclick="toggleList(this)" />
      <ul class="text-list">
        <li id="sad1" onclick="replaceDiv(this)">Problème de santé</li>
        <li id="sad2" onclick="replaceDiv(this)">Fatigué(e)</li>
        <li id="sad3" onclick="replaceDiv(this)">Mécontent(e)</li>
        <li id="sad4" onclick="replaceDiv(this)">Besoin de support</li>
        <li id="sad5" onclick="replaceDiv(this)">En attente de quelque chose</li>
        <li id="sad6" onclick="replaceDiv(this)">Très occupé(e)</li>
    </ul>
    </div>
  </div>
      </span>
    </div>
  </div>
  
<!-- ****************************  Ici la 2eme div (apres click sur image)******************************************* -->
  <div id="div2" class="containers hidden" style="width: relative; height: relative;">
    
    <div style="position: fixed; top: 10px; left: 50px; transform: translate(-50%, 0);">
      <button onclick="showDiv1()">Retour</button>
    </div>

    
    <span style="margin-top: 0; margin-bottom: 0;">
      <div id="div2-1" class="column">
        
        <div class="column-text" style="flex-grow: 1; margin-top: 10px; margin: 20px;">
          <h2>Message à mon manager:</h2>
          <textarea id="managerMessage" style="width: 500px; height: 100px;" placeholder="Entrez votre message ici" oninput="limitTextarea(this, 100)" ></textarea>
          <h2>Feedback ou proposition anonyme: </h2>
          <textarea id="feedbackText" style="width: 500px; height: 100px;" placeholder="Entrez votre Feedback ici" oninput="limitTextarea(this, 100)"></textarea>
          <button id="testButton" type="button" style="margin-left: 10px;" onclick="replaceDiv2(this)">Valider</button>
          
          <p id="messageText"></p>
        </div>
        
      
      </div>
    </span>
  
    <div class="selected-image-container" style="position: fixed; top: 0; right: 5px; transform: translate(-15%,0);">

      <img id="selectedImage" src="" alt="Selected Image">
      <h2 id="selectedText" style="margin-right: 10px; margin-left: 20px; margin-top: 25px; white-space: nowrap; text-align: right;"></h2>
      
    </div>
    
  </div>

  <!--****************** div pour affichage du message*****************-->
  <div id="div2-2" class="containers hidden" style="width: relative; height: relative;">
    <div class="child">
      <h1>Merci pour votre compréhension</h1>
    </div>
    
  
  </div>


    <!--******** Partie Javascript***************************** -->
    
    
    <script type="text/javascript">


      // Hide the loading indicator
      microsoftTeams.appInitialization.notifySuccess();

      microsoftTeams.initialize();

    var personLogin;
//  user's name 

  microsoftTeams.getContext(function(context) {
    
  var userDisplayName = context.userDisplayName || '';
  //var firstName = '';
  var firstName;

  if (userDisplayName) {
    // Si le nom d'affichage de l'utilisateur est disponible, récupérez le prénom en utilisant le premier mot du nom d'affichage
    firstName = userDisplayName.split(" ")[0]; 
   
  } else {
    // Si le nom d'affichage n'est pas disponible, récupérez le prénom à partir de l'adresse e-mail ou de l'identifiant principal de l'utilisateur
    var email = context.userPrincipalName || context.loginHint || '';
    firstName = email.split('@')[0];
  }
  personLogin = firstName;

  document.getElementById("username").innerHTML = "Bonjour " + firstName.toLocaleUpperCase();

});



// selection of the image to show or hide the list of texts
function toggleList(image) {
  var textLists = document.querySelectorAll('.text-list'); // Sélectionner tous les éléments de classe text-list

  // Parcourir tous les éléments de classe text-list
  textLists.forEach(function(textList) {
    // Vérifier si l'élément textList est celui associé à l'image cliquée
    if (textList.previousElementSibling === image) {
      // Afficher ou masquer l'élément textList en fonction de son état actuel
      textList.classList.toggle('show');
    } else {
      // Masquer tous les autres éléments text-list
      textList.classList.remove('show');
    }
  });
}
// passage de div1 vers div2

        function replaceDiv(item) {
      document.getElementById("div1").classList.add("hidden");
      document.getElementById("div2").classList.remove("hidden");

      const textId = item.id;
      var imageId;
      var srcValue;
      var imageTitle;
      
      if(textId=="content1" || textId=="content2"){
        var imageElement = document.getElementById('content');
        srcValue = imageElement.src;
        imageTitle = "Bien";
      }
      else if(textId == "neutre1" || textId == "neutre2" || textId == "neutre3"){
        var imageElement = document.getElementById('neutre');
        srcValue = imageElement.src;
        imageTitle = "Neutre";
      }
      else if(textId == "sad1" || textId == "sad2" || textId == "sad3" || textId == "sad4" || textId == "sad5" || textId == "sad6"){
        var imageElement = document.getElementById('sad');
        srcValue = imageElement.src;
        imageTitle = "Pas trop";
      }

      const selectedImageElement = document.getElementById("selectedImage");
      selectedImageElement.src = srcValue;
      selectedImageElement.title = imageTitle;
  
      const selectedTextElement = document.getElementById("selectedText");
      selectedTextElement.textContent = item.textContent;
      
    }
    // pour afficher div1 
    function showDiv1() {
      document.getElementById("div1").classList.remove("hidden");
      document.getElementById("div2").classList.add("hidden");
    }

// ******* cette fonction est pour la validations des zones de textes
    function limitTextarea(element, maxLength) {
    if (element.value.length > maxLength) {
      element.value = element.value.slice(0, maxLength);
    }
  }
  

function replaceDiv2(item) {
      document.getElementById("div2").classList.add("hidden");
      document.getElementById("div2-2").classList.remove("hidden");
}

// event listner on the button Valider and storing data
document.getElementById('testButton').addEventListener('click', function() {

  const monthNames = [
    'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
    'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'
  ];
  const textManager = document.getElementById("managerMessage").value;
  const feedbackText = document.getElementById("feedbackText").value;

  const selectedImageTitle = document.getElementById("selectedImage").title;
  const selectedText = document.getElementById("selectedText").textContent;


  const currentDate = new Date();
  const Month = currentDate.getMonth();
  const currentMonth = monthNames[Month];
  const currentYear = currentDate.getFullYear();
  
  const jour = currentDate.getDate();
const mois = currentDate.getMonth() + 1;
const annee = currentDate.getFullYear();
const heure = currentDate.getHours();
const minutes = currentDate.getMinutes();
const secondes = currentDate.getSeconds();

const dateEtHeureFormatees = `${jour}-${mois}-${annee} ${heure}:${minutes}:${secondes}`;
  const timestamp = currentDate.getTime();

  const data = {
    date: dateEtHeureFormatees,
    manager: textManager,
    feedback: feedbackText,
    month: currentMonth,
    year: currentYear,
    time: timestamp,
    person: personLogin,
    selectedImageTitle: selectedImageTitle, 
    selectedText: selectedText

  };

  axios.post('http://localhost:5000/store_data', data)
    .then(response => {
      console.log(response.data);
      // Traitez la réponse du backend ici
    })
    .catch(error => {
      console.error(error);
      // Traitez les erreurs de requête ici
    });
});



    </script>
  </body>
</html>
